* {
  transition: color 1s ease;
  transition: background-color 1s ease;
}

html {
  --color-bg: #121212;
  --color-darktext: #000000;
  --color-text: #ffffff;
  --color-primary: #BF1140;
  --color-button: #D93F07 ;
  --color-red: #f03f34;
}

html.light {
  --color-bg: #ffffff;
  --color-darktext: #000000;
  --color-text: #121212;
  --color-primary: #BF1140;
  --color-button: #F2A71B;
  --color-red: #f03f34;
}

#theme-switcher {
  top: 10px;
  right: 10px;
  position: absolute;
  background-color: var(--color-button);
  color: var(--color-darktext);
  cursor: pointer;
  font-weight: bold;
  font-size: .7em;
  padding: 10px;
  border-radius: 10px;
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 1px;
}
* {
  box-sizing: border-box;
}

/* page container style */
.page-container {
  min-height: 100vh;
  font-size: 1.50em;
}
.date-container {
  margin-top: 50px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

/* header styling */
.name-header {
  grid-column: 1;
}
.date-header {
  grid-column: 2;
}
.name-header, .date-header {
  color: var(--color-darktext);
  background-color: var(--color-primary);
  border-radius: 10px;
  width: 50%;
  grid-row: 1;
  text-align: center;
  margin-bottom: 5px;
}

/* Date/name styling */
.countdown-name {
  grid-column: 1;
  text-align: center;
}
.countdown-date {
  grid-column: 2;
  text-align: center;
}
.countdown-date, .countdown-name {
  background: lighten(var(--color-bg), 25%);
  padding: 5px;
  border-radius: 10px;
}
.countdown-name:hover {
  cursor: pointer;
  color: var(--color-red);
}

/* Buttons */
input {
  font-size: .7em;
  border-radius: 10px;
}
#submit {
  grid-column: span 2;
  font-size: .9em;
  border-radius: 10px;
  width: 20%;
  height: 175%;
  background-color: var(--color-button);
  color: var(--color-darktext);
  font-weight: bold;
  border: none;
  outline: none;
}
#submit:hover {
  cursor: pointer;
}
#date {
  width: 35%;
}
#name {
  width: 35%;
}
#delete {
  margin-right: 5%;
  font-size: .7em;
  border-radius: 10px;
}
.dadjoke {
  margin-top: 40px;
  grid-column: 1 / span 2;
}
.logo {
  width: 115px;
  height: auto;
}
.logo-container {
  margin-top: 3px;
  z-index: -300;
  top: 5px;
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
}